@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

header {
    background-color: #000;
    height: 85px;
    width: 100%;
    color: #FFF;
    display: flex;
    align-items: center;
    padding-left: 50px; /* Este valor define el margen a la izquierda del logo, ajusta según necesites */
}

#logo-container h1 {
    font-size: 24px;
    font-weight: bold;
}
#panel-label {
    background-color: #D9D9D9;
    width: 180px;
    height: 39px;
    position: relative;
    color: #f5f5f5;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px; /* Ajusta este valor para cambiar la distancia desde la barra de navegación */
    margin-left: 220px; /* Ajusta este valor para cambiar la distancia desde el lado izquierdo de la pantalla */
  }
  #control-panel-text {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-top: 60px;
    margin-left: 250px; /* Ajusta según necesidad */
    color: #000; /* Ajusta el color si es necesario */
}

#welcome-text
{
    font-family: 'Roboto', sans-serif;
    font-weight: 500; /* Semi-bold */
    font-size: 20px;
    margin-top: 20px;
    margin-left: 270px;
    color: #D9D9D9;
    margin-top: 10px; /* Ajusta según necesidad */

}
#conjunto-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 500; /* Semi-bold */
    font-size: 20px;
    margin-top: 20px;
    margin-left: 300px;
    color: #D9D9D9;
    margin-top: 10px; /* Ajusta según necesidad */
}

#admin-name,
#conjunto-name {
    color: #000; /* Ajusta el color si es necesario */
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

.shape {
  background-color: #EEEBEB;
  height: 428px;
  border-top: 1px solid #B7B7B7;
  width: 100%;
  display: flex;
  justify-content: center;
  text-decoration: none;

  gap: 30px;

  align-items: center;
}

.card {
  background-color: var(--card-color);
  height: 271px;
  width: 336px;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada
  border: 2px solid; /* grosor del borde */
  border-image: linear-gradient(to bottom, var(--border-start), var(--border-end)) 1;
  text-decoration: none;

  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), top 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  top: 0;
}
.card:hover
{
    transform: scale(1.03);
   
}
.card {
    transition: all 0.3s; /* Esto hará que todos los cambios en la tarjeta sean suaves. */
}

.causa-text {
    text-align: center;
    padding: 20px 0;
}

.icon {
    width: 109px;
    height: 125px;
    background-size: cover;
    background-position: center;
    text-decoration: none;
    filter: drop-shadow(1px 3px 2px rgba(0, 0, 0, 1));
    filter: invert(1); /* Invierte los colores de la image
    /* Aquí puedes agregar otros estilos que se aplicarán a todos los iconos */
  }
  .no-underline {
    text-decoration: none;
  }
  
  
  .icon-services {
    background-image: url('../assets/icons/services.png');
    width: 120px; /* Nueva anchura */
    height: 120px; 



  }
  
  .icon-news {
    background-image: url('../assets/icons/noticon.png');
    width: 90px; /* Nueva anchura */
    height: 90px; 
    margin-top: 20px;
  }
  
  .icon-settings {
    background-image: url('../assets/icons/tuerca.png');
    width: 90px; /* Nueva anchura */
    height: 90px; 
    margin-top: 20px;
  }

.card-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff; /* Ajusta el color de texto según tu preferencia */
  text-align: center;
  margin-top: 20px;
  filter: drop-shadow(0px 3px 2px rgba(0, 0, 0, 0.5));
}



body {

    font-family: "Roboto", sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0px;
}

h2 {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
}   
h3{
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
}
h4
{
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
}

form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
}

label {
    display: block;
    font-weight: bold;
    font-weight: 100;
    margin-bottom: 10px;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 15px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
footer {
    background-color: #ffffff;
    color: #fff;
    height: 98px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-weight: 700; /* Bold */
    font-size: 24px;
    margin-top: 90px;
}
#notificationArea {
    position: absolute; 
    width: 97px;
    height: 100px;
    z-index: 9999;
    top: 150px;
    right: 150px; 
}

.bell-icon {
    width: 97px;
    height: 100px;
    display: block;
    cursor: pointer;
}

.notification-badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
    display: none; 
    font-size: 14px;
}

.bell-container {
    position: relative;
}

.bell-icon {
    font-size: 24px;
    cursor: pointer;
}

.dropdown {
    position: absolute;
    right: 0;
    top: 30px; 
    width: 411px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    display: none; /* Inicialmente oculto */
    overflow: auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    
    max-height: 300px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: max-height 0.3s ease-out; /* Animación */
}
.button
{
    border: 10px;
    background-color: #4caf50;
}
.chat-container {
    opacity: 0; 
    z-index: 9999;
    width: 311px;
    height: 402px;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    position: fixed;
    bottom: 10px;
    display: flex;
    border-radius: 10px;
    flex-direction: column; 
    right: 10px;
    transition: opacity 0.5s; /* Agregamos transición para el efecto fade in/out */
    display: none; /* Oculto por defecto */
}

.chat-container.expanded {
    opacity: 1;
    display: block; /* Mostramos el chat cuando tiene la clase expanded */
}

.chat-container header {
    height: 56px;
    width: 311px;
    background-color: #7ccefd;
    display: flex;
    align-items: center;
    flex-shrink: 0; 
    justify-content: center;
    position: relative;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400; 
    border-radius: 10px;
    display: flex;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    align-items: center;

}


.chat-messages {
    flex: 1;
    overflow-y: auto;
    max-height: 250px;
    flex-grow: 1; 
    padding: 10px;
    display: flex;
    flex-direction: column;
}


.message {
    padding: 5px 10px;
    border-radius: 5px;
    word-wrap: break-word; 
    margin: 5px 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300; 
    max-width: 70%; /* para que los mensajes no ocupen todo el ancho */
}

.user-message {
    align-self: flex-end; /* para que se muestre a la derecha */
    background-color: #a3fcfc;
}

.bot-message {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
}

.bot-message .bot-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}


.chat-input {
    height: 52px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    padding: 0 10px;
    flex-shrink: 0;
    justify-content: space-between;
    position: absolute; /* Posición absoluta */
    bottom: 0; /* Siempre en la parte inferior */
    left: 0; /* Desde el lado izquierdo */
    right: 0;

}

.chat-input textarea {
    flex: 1;
    width: calc(100% - 55px); /* 100% - (ancho del ícono + padding del botón) */
    resize: none;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300; /* 300 corresponde a Light en la familia Roboto */
    font-size: 15px;
    height: 40px;
    background-color: #ffffff;
    padding: 10px;
    margin-right: 10px;
    margin-top: -20px;
    border-radius: 5px;
    border-top: 1px solid #EFEFEF;
}


.chat-input button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.chat-input button img {
    width: 35px;
    height: 32px;
}
.accept
{
    
    border-radius: 10px;
    background-color: #4caf50;
}
.deny
{
    border-radius: 10px;
    background-color: #f55757;
}
.message {
    padding: 5px 10px;
    border-radius: 5px;
    word-wrap: break-word; 
    margin: 5px 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    max-width: 70%; /* para que los mensajes no ocupen todo el ancho */
}

/* Estilo para los mensajes del usuario */
.user-message {
    background-color: #a3fcfc; 
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.admin-message {
    background-color: #5ba2ff; 
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #000;
}
