@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500');


body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}
.slide-panel {
    width: 300px;
    height: 600px;
    position: fixed;
    top: 90x;
    left: -300px;
    z-index: 9999;
    transition: left 0.3s ease;
    background-color: #1e1e2f;
    color: #FFF;
    font-size: 12px;
    box-shadow: 2px 6px 4px rgba(0, 0, 0, 0.2); 
    font-family: "Roboto", sans-serif; 
}

.profile-section {
    padding: 20px;
    text-align: center;
}

.profile-section img {
    width: 80px;
    margin-bottom: 10px;
}

.profile-section h2 {
    font-size: 15px;
    font-weight: light;
    margin: 10px 0;
}

.buttons-section {
    margin-top: 60px;
    padding: 20px 0;
}

.custom-button {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    margin: 10px 0;
    background-color: transparent;
    color: #c2c2c2;
    border: none;
    transition: background-color 0.3s ease;
    font-size: 12px; 
    font-weight: bold;
}

.custom-button:hover {
    background-color: #2e2e3f;
}

.custom-button span.icon {
    margin-right: 10px;
    width: 20px; /* ajusta según el tamaño que prefieras para el ícono */
    height: 20px; /* ajusta según el tamaño que prefieras para el ícono */
}

.custom-button.logout {
    background-color: rgb(32, 32, 32);
}

.collapse-button {
    display: none;
}

header {
    background-color: #000;
    height: 85px;
    width: 100%;
    color: #FFF;
    display: flex;
    align-items: center;
    padding-left: 50px; /* Este valor define el margen a la izquierda del logo, ajusta según necesites */
}

#logo-container h1 {
    font-size: 24px;
    font-weight: bold;
}
#panel-label {
    background-color: #D9D9D9;
    width: 180px;
    height: 39px;
    position: relative;
    color: #f5f5f5;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px; /* Ajusta este valor para cambiar la distancia desde la barra de navegación */
    margin-left: 220px; /* Ajusta este valor para cambiar la distancia desde el lado izquierdo de la pantalla */
  }
  #control-panel-text {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-top: 60px;
    margin-left: 250px; /* Ajusta según necesidad */
    color: #000; /* Ajusta el color si es necesario */
}

#welcome-text
{
    font-family: 'Roboto', sans-serif;
    font-weight: 500; /* Semi-bold */
    font-size: 20px;
    margin-top: 20px;
    margin-left: 270px;
    color: #D9D9D9;
    margin-top: 10px; /* Ajusta según necesidad */

}
#conjunto-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 500; /* Semi-bold */
    font-size: 20px;
    margin-top: 20px;
    margin-left: 300px;
    color: #D9D9D9;
    margin-top: 10px; /* Ajusta según necesidad */
}

#admin-name,
#conjunto-name {
    color: #000; /* Ajusta el color si es necesario */
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

.shape {
  background-color: #EEEBEB;
  height: 428px;
  border-top: 1px solid #B7B7B7;
  width: 100%;
  display: flex;
  justify-content: center;
  text-decoration: none;

  gap: 30px;

  align-items: center;
}

.card {
  background-color: var(--card-color);
  height: 271px;
  width: 336px;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada
  border: 2px solid; /* grosor del borde */
  border-image: linear-gradient(to bottom, var(--border-start), var(--border-end)) 1;
  text-decoration: none;

  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), top 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  top: 0;
}
.card:hover
{
    transform: scale(1.03);
   
}
.card {
    transition: all 0.3s; /* Esto hará que todos los cambios en la tarjeta sean suaves. */
}

.causa-text {
    text-align: center;
    padding: 20px 0;
}

.icon {
    width: 109px;
    height: 125px;
    background-size: cover;
    background-position: center;
    text-decoration: none;
    filter: drop-shadow(1px 3px 2px rgba(0, 0, 0, 1));
    filter: invert(1); /* Invierte los colores de la image
    /* Aquí puedes agregar otros estilos que se aplicarán a todos los iconos */
  }
  .no-underline {
    text-decoration: none;
  }
  
  
  .icon-services {
    background-image: url('../assets/icons/services.png');
    width: 120px; /* Nueva anchura */
    height: 120px; 



  }
  
  .icon-news {
    background-image: url('../assets/icons/noticon.png');
    width: 90px; /* Nueva anchura */
    height: 90px; 
    margin-top: 20px;
  }
  
  .icon-settings {
    background-image: url('../assets/icons/tuerca.png');
    width: 90px; /* Nueva anchura */
    height: 90px; 
    margin-top: 20px;
  }

.card-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff; /* Ajusta el color de texto según tu preferencia */
  text-align: center;
  margin-top: 20px;
  filter: drop-shadow(0px 3px 2px rgba(0, 0, 0, 0.5));
}



body {

    font-family: "Roboto", sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0px;
}

h2 {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
}   
h3{
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
}
h4
{
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
}

form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
}

label {
    display: block;
    font-weight: bold;
    font-weight: 100;
    margin-bottom: 10px;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 15px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
footer {
    background-color: #ffffff;
    color: #fff;
    height: 98px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-weight: 700; /* Bold */
    font-size: 24px;
    margin-top: 90px;
}
#notificationArea {
    position: absolute; 
    width: 97px;
    height: 100px;
    z-index: 9999;
    top: 150px;
    right: 150px; 
}

.bell-icon {
    width: 97px;
    height: 100px;
    display: block;
    cursor: pointer;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), top 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.bell-icon:hover
{  transform: scale(1.03);    
    filter: drop-shadow(0px 3px 2px rgba(252, 189, 95, 0.5));
}

.notification-badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
    display: none; 
    font-size: 14px;
}

.bell-container {
    position: relative;
    
}

.bell-icon {
    font-size: 24px;
    cursor: pointer;
    filter: drop-shadow(0px 3px 2px rgba(211, 211, 211, 0.5));
}

.dropdown {
    position: absolute;
    right: 0;
    top: 30px; 
    width: 411px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: #F5F5F5;
    display: none; /* Inicialmente oculto */
    overflow: auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    
    max-height: 300px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: max-height 0.3s ease-out; /* Animación */
}
.button
{
    border: 10px;
    background-color: #4caf50;
}
.chat-container { /* Empuja el contenedor completamente fuera de la vista hacia abajo */
    transition: opacity 0.5s, transform 0.5s; 
    z-index: 9999;
    width: 311px;
    height: 402px;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    position: fixed;
    bottom: 10px;
    border-radius: 10px;
    flex-direction: column; 
    right: 10px;
    transition: opacity 0.5s; /* Agregamos transición para el efecto fade in/out */
    display: none; /* Oculto por defecto */
}

.chat-container.expanded {
    opacity: 1;
    display: block; /* Mostramos el chat cuando tiene la clase expanded */
}

.chat-container header {
    height: 56px;
    width: 311px;
    background-color: #7ccefd;
    display: flex;
    align-items: center;
    flex-shrink: 0; 
    justify-content: center;
    position: relative;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400; 
    border-radius: 10px;
    display: flex;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    align-items: center;

}


.chat-messages {
    flex: 1;
    overflow-y: auto;
    max-height: 250px;
    flex-grow: 1; 
    padding: 10px;
    display: flex;
    flex-direction: column;
}


.message {
    padding: 5px 10px;
    border-radius: 5px;
    word-wrap: break-word; 
    margin: 5px 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300; 
    max-width: 70%; /* para que los mensajes no ocupen todo el ancho */
}

.user-message {
    align-self: flex-end; /* para que se muestre a la derecha */
    background-color: #a3fcfc;
}

.bot-message {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
}

.bot-message .bot-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}


.chat-input {
    height: 52px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    padding: 0 10px;
    flex-shrink: 0;
    justify-content: space-between;
    position: absolute; /* Posición absoluta */
    bottom: 0; /* Siempre en la parte inferior */
    left: 0; /* Desde el lado izquierdo */
    right: 0;

}
.end-chat-btn {
    background-color: #ff4a4a; /* Color rojo */
    color: white; /* Texto blanco */
    border: none; 
    border-radius: 5px;
    padding: 5px 15px; 
    font-family: 'Roboto', sans-serif;
    font-weight: 400; 
    cursor: pointer; 
    position: absolute; /* Posicionar el botón en el lado derecho */
    right: 125px; /* Espacio desde la derecha */
    top: 50%; 
    transform: translateY(50%); /* Centra el botón verticalmente */
    transition: background-color 0.3s; /* Efecto suave al pasar el ratón por encima */
}

.end-chat-btn:hover {
    background-color: #e52222; /* Color rojo más oscuro al pasar el ratón por encima */
}

.chat-input textarea {
    flex: 1;
    width: calc(100% - 55px); /* 100% - (ancho del ícono + padding del botón) */
    resize: none;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300; /* 300 corresponde a Light en la familia Roboto */
    font-size: 15px;
    height: 40px;
    background-color: #ffffff;
    padding: 10px;
    margin-right: 10px;
    margin-top: -20px;
    border-radius: 5px;
    border-top: 1px solid #EFEFEF;
}


.chat-input button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.chat-input button img {
    width: 35px;
    height: 32px;
}
.accept
{
    
    border-radius: 5px;
    background-color:#4caf50;
    border-color: #4caf50;
}
.deny
{
    border-radius: 5px;
    background-color: #FF5656;
    border-color:#FF5656;
}
.message {
    padding: 5px 10px;
    border-radius: 5px;
    word-wrap: break-word; 
    margin: 5px 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    max-width: 70%; /* para que los mensajes no ocupen todo el ancho */
}

/* Estilo para los mensajes del usuario */
.user-message {
    background-color: #a3fcfc; 
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.admin-message {
    background-color: #5ba2ff; 
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #000;
}
.seccion-principal {
    width: 100%;
    background-color: #E5F5FE;
    padding: 20px 0;
    margin-top: -20px;
    position: relative; /* Asegura que la posición relativa para los elementos hijos */
}

.rectangulo-negro {
    margin-bottom: 20px;
    height: 99px;
    background-color: #000;
    width: 100%;
}

.titulo-seccion {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 120px;
    margin-left: 620px; /* Ajusta este margen según sea necesario */
    position: absolute; /* Posición relativa para el título */
    z-index: 10; /* Asegura que el título se muestre encima de otros elementos */
}

.caja-usuarios {
    position: relative;
    padding: 20px;
    width: 858px;
    height: 558px;
    background-color: white;
    margin: 80px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    overflow-y: auto;
    position: relative; /* Posición relativa para la caja */
    top: -50px; /* Ajusta la caja hacia arriba */
}

.usuario {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}
.encabezados-usuarios {
    display: flex;
    justify-content: space-between; /* Distribuye los encabezados uniformemente */
    margin-top: 190px; /* Aumenta este margen para empujar los encabezados hacia abajo */
    padding: 0 42px; /* Espacio en los lados del contenedor */
}

.encabezado {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 500;
    text-align: center; /* Centra el texto dentro de su espacio */
    padding: 0 5px; /* Agrega un poco de espacio a los lados */
}

.linea-horizontal {
    height: 2px;
    background-color: #B5B5B5;
    width: 794px;

    margin: 22px auto; /* Centra la línea */
}
.contenido-usuarios {
    display: flex;
    flex-direction: column;
}

.usuario {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0px;
    margin-left: 0px;
    padding: 0 60px; /* Alineación con los encabezados */
}

.circulo-estado {
    height: 21px;
    width: 19px;
    border-radius: 50%;
    display: inline-block;
}

.circulo-conectado {
    background-color: rgb(0, 221, 0); /* Verde para conectado */
}

.circulo-desconectado {
    background-color: rgb(128, 128, 128); /* Gris para desconectado */
}

.nombre-usuario, .email-usuario, .tipo-usuario, .opciones-usuario {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 500;
    width: 120px; /* Establece un ancho fijo para cada columna */
    margin-right: 10px; /* Espacio entre columnas */
    word-wrap: break-word; /* Permite que las palabras se rompan y ajusten en la siguiente línea */
}

.usuario {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 60px;
    padding: 0 10px; /* Alineación con los encabezados */
    flex-wrap: wrap; /* Permite que los elementos de la fila se ajusten en líneas adicionales */
    min-height: 40px; /* Altura mínima para cada fila de usuario */
}
.opciones-usuario {
    /* Estilos para las opciones, si necesitas un ancho específico, añádelo aquí */
    max-width: 50px; /* Ejemplo, ajusta según sea necesario */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.icono-basura {
    /* Aquí agregarías tu icono de basura, puede ser una imagen o un ícono de una fuente de íconos */
}
/* En tu archivo CSS */

.pagination {
    display: flex;
    align-items: center;
    padding: 0 290px;
    background-color: #FFFFFF; /* Fondo blanco */
    border: 0.5px solid #E1E1E1; /* Borde ligero */
}

/* Botones 'Anterior' y 'Siguiente' */
.pagination-button {
    flex: 0 0 100px; /* Ancho fijo para botones de 'Anterior' y 'Siguiente' */
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 500; /* Medium */
    cursor: pointer;
    border: 0.5px solid #E1E1E1; /* Borde de los botones */
}
.pagination-button:hover {
    background-color: #f2f2f2; /* Color de fondo más claro al pasar el cursor */
    color: #0597C5 /* Color de texto más oscuro para mejor contraste */
}

/* Botón 'Anterior' */
.prev {
    color: #E1DDDD; /* Color gris claro para 'Anterior' */
}

/* Botón 'Siguiente' */
.next {
    color: #0070D8; /* Color azul para 'Siguiente' */
}

/* Contenedor para los números de página */
.page-numbers {
    display: flex;
    flex-grow: 1; /* Permitir que el contenedor de números crezca */
    justify-content: center; /* Centrar los números */
    border-left: 0.5px solid #E1E1E1; /* Borde a la izquierda del contenedor de números */
    border-right: 0.5px solid #E1E1E1; /* Borde a la derecha del contenedor de números */
}

/* Estilos para cada número de página */
.page-link {
    padding: 0 10px; /* Espaciado horizontal dentro de los números */
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500; /* Medium */
    line-height: 44px; /* Altura de línea para centrar verticalmente el texto */
    cursor: pointer;
    border: 0.5px solid #E1E1E1; /* Borde alrededor de los números */
}
.page-link:hover {
    background-color: #e6e6e6; /* Fondo más claro al pasar el cursor */
    color: #0597C5; /* Color de texto más oscuro */
    transition: background-color 0.3s, color 0.3s; /* Transición suave */
}
/* Estilo para el número de página activo */

