@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');
body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 103px;
    background-color: #000;
    color: #fff;
    padding: 0 20px;
}

#logo {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 25px;
    margin-left: 245px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 120px;
    margin-right: 360px;
    display: flex;
}

nav ul li {
    margin-left: 40px;
    margin: 0 68px;;
}

nav a {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}

#menu-icon {
    font-size: 30px;
    cursor: pointer;
}
.custom-hr {
    border: none;
    border-top: 2px solid black;
    width: 68%;
    margin: 40px auto 0 auto;
}

.custom-img {
    width: 1034px;
    height: 500px;
    display: block;
    margin: 20px auto 0 auto;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    top:0;
    bottom:0;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), top 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    top: 0;
}
.custom-img:hover
{
    transform: scale(1.01);
   
}

#service-status {
    width: 1011px;
    height: 131px;
    background-color: #CC4324;
    border-radius: 20px;
    text-align: center;
    margin: 0 auto 20px auto;
    position: relative;
    margin-top: 20px;
    z-index: 1;
}

#service-status h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    position: absolute;
    top: -40px;
    left: 0;
    right: 0;
    margin: auto;
    line-height: 131px;
}

#cards-container {
    display: flex;
    justify-content: space-between;
    width: 1011px;
    margin: 0 20px;
    margin-left: auto;
    margin-right: -20px;
    position: relative;
    z-index: 2;
    color: white;
}

.card {
    margin-top: 50px;
    width: 299px;
    height: 185px;
  
    justify-content: space-around;
    position: relative;
    box-shadow: 0px 10px 30px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin-left: auto;
    margin-right: 40px;
    z-index: 3;
    overflow: auto;  
    background-color: white; /* añadir esta línea para asignar un color de fondo blanco */
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), top 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    transition: height 0.4s ease-out, transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), top 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    top: 0;
}
.card:hover
{
    transform: scale(1.00);
    top: -20px;
   
}

.card .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.status-circle {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.status-circle.activo {
    background-color: #1b8a04;  /* Verde para 'Activo' */
    box-shadow: 0 0 1rem #1fa005;
}

.status-circle.pronto-inactivo {
    background-color: #FFA500; 
    box-shadow: 0 0 1rem #df9101; /* Naranja para 'Pronto Inactivo' */
}

.status-circle.inactivo {
    background-color: #FF0000;
    box-shadow: 0 0 1rem #cc0909;  /* Rojo para 'Inactivo' */
}
/* Status cards buttons*/
.card img {
    filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.5));
}
.saber-mas {
    font-family: 'Roboto', sans-serif;
    /* color de fondo */ /* color del texto */
    border-radius: 10px;
    padding: 10px 20px;
    box-shadow: 0 0 1rem #808080;  /* Rojo para 'Inactivo' */

    margin-top: 140px; /* espacio en la parte superior */
  }
  .causa-text {
    text-align: center;
    padding: 20px 0;
    position: absolute;
    top: 50%;
    font-family: 'Roboto', sans-serif;
    color: #000;
    left: 50%;
    max-height: 600px;
    white-space: normal;
    word-wrap: break-word;
    
    transform: translate(-50%, -50%);
    width: 90%;
}

.card-expanded {
    height: 360px;  /* Nuevo height (185px original + 200px) */
}

.card .icon {
    transition: opacity 0.5s;
}
header {
    position: relative;
  }
  
  #menu-icon {
    cursor: pointer;
    font-size: 24px;
  }

  .news-card {
    margin-top: 150px;
    width: 913px;
    height: 225px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    margin: 0 auto;
  }
  
  .news-card img {
    width: 339px;
    height: 222px;
    object-fit: cover;
    border-radius: 20px;
  }
  
  .news-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    border-radius: 20px;
  }
  .news-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; 
  }
  .chatbot-section {
    background-image: url('/assets/images/body_images/estructura.jpg'); 
    background-size: 1920px 956px;
    background-repeat: no-repeat;
    background-position: center center; 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 190px;
    gap: 90px;
}

.chatbot-main {
    display: flex;
    align-items: center;
    justify-content: center;
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-35px);
    }
    100% {
        transform: translateY(0px);
    }
}

.chatbot-image img {
    width: 355px; 
    height: 355px;
    animation: float 3s infinite;
    transition: all 0.3s ease;
    
}

.chatbot-text {
    background-color: #94F2FF; 
    padding: 30px;
    width: 380px; 
    height: 230px; 
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1); 
    border-radius: 15px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.chatbot-text p {
    margin: 10px 0;
    font-family: 'Roboto', sans-serif; 
    font-size: 20px;
    color: #4d4d4d; 
}

.chatbot-question {
    font-weight: bold;
    color: #0066cc; 
}

.chatbot-mini {
    animation: float 3s infinite ease-in-out;
    transition: all 0.5s;
    opacity: 0; 
    transform: translateY(100%);
    position: relative;
    width: 105px;
    height: 107px;
    border-radius: 50%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2); 
    background-color: #94F2FF;
    display: flex;
    margin-top: 340px;
    margin-left: 120px;
    align-items: center;
    justify-content: center;
}
.is-visible {
    opacity: 1; 
    transform: translateY(0); /* Retorna a su posición original */
    animation: bounce 2s;
}

.chatbot-mini img {
    width: 86px; 
    height: 84px; 
    margin-top: -15px;
    cursor: pointer;
    
}
.chat-container {
    opacity: 0; 
    z-index: 9999;
    width: 311px;
    height: 402px;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    position: fixed;
    bottom: 10px;
    display: flex;
    border-radius: 10px;
    flex-direction: column; 
    right: 10px;
    transition: opacity 0.5s; /* Agregamos transición para el efecto fade in/out */
    display: none; /* Oculto por defecto */
}

.chat-container.expanded {
    opacity: 1;
    display: block; /* Mostramos el chat cuando tiene la clase expanded */
}

.chat-container header {
    height: 56px;
    background-color: #CC4324;
    display: flex;
    align-items: center;
    flex-shrink: 0; 
    justify-content: center;
    position: relative;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400; 
    border-radius: 10px;
    display: flex;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    align-items: center;

}

.chat-container header img {
    width: 133px;
    height: 133px;
    position: absolute;
    top: -90px; /* Ajusta este valor según lo que quieras que sobresalga */
    left: 57%;
    transform: translateX(-50%);
}

.chat-messages {
    flex: 1;
    overflow-y: auto;
    max-height: 250px;
    flex-grow: 1; 
    padding: 10px;
    display: flex;
    flex-direction: column;
}


.message {
    padding: 5px 10px;
    border-radius: 5px;
    word-wrap: break-word; 
    margin: 5px 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300; 
    max-width: 70%; /* para que los mensajes no ocupen todo el ancho */
}

.user-message {
    align-self: flex-end; /* para que se muestre a la derecha */
    background-color: #a3fcfc;
}

.bot-message {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
}

.bot-message .bot-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}


.chat-input {
    height: 52px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    padding: 0 10px;
    flex-shrink: 0;
    justify-content: space-between;
    position: absolute; /* Posición absoluta */
    bottom: 0; /* Siempre en la parte inferior */
    left: 0; /* Desde el lado izquierdo */
    right: 0;

}

.chat-input textarea {
    flex: 1;
    width: calc(100% - 55px); /* 100% - (ancho del ícono + padding del botón) */
    resize: none;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300; /* 300 corresponde a Light en la familia Roboto */
    font-size: 15px;
    height: 40px;
    background-color: #ffffff;
    padding: 10px;
    margin-right: 10px;
    margin-top: -20px;
    border-radius: 5px;
    border-top: 1px solid #EFEFEF;
}


.chat-input button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.chat-input button img {
    width: 35px;
    height: 32px;
}
.admin-message {
    background-color: #5ba2ff;
    color: #000;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300; 
    /* Y cualquier otro estilo que quieras añadir */
}
@keyframes slideFadeIn {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.slide-fade-enter {
    animation: slideFadeIn 0.5s forwards;
}

  
  
 /* Animaciones */
 @keyframes slideDownFadeIn {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideUpFadeOut {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-100%);
        opacity: 0;
    }
}

.chat-container {
    display: none; /* Por defecto estará oculto */
    animation-duration: 0.5s;
    transition: opacity 0.5s, transform 0.5s; 
}

.chat-enter {
    display: block;
    animation-name: slideDownFadeIn;
}

.chat-exit {
    animation-name: slideUpFadeOut;
}