@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 103px;
    background-color: #000;
    color: #fff;
    padding: 0 20px;
}

#logo {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 25px;
    margin-left: 245px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 78px;
    margin-right: 360px;
    display: flex;
}

nav ul li {
    margin-left: 40px;
    margin: 0 68px;;
}

nav a {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}

#menu-icon {
    font-size: 30px;
    cursor: pointer;
}
.custom-hr {
    border: none;
    border-top: 2px solid black;
    width: 68%;
    margin: 40px auto 0 auto;
}

.custom-img {
    width: 1034px;
    height: 500px;
    display: block;
    margin: 20px auto 0 auto;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

#service-status {
    width: 1011px;
    height: 131px;
    background-color: #CC4324;
    border-radius: 20px;
    text-align: center;
    margin: 0 auto 20px auto;
    position: relative;
    margin-top: 20px;
    z-index: 1;
}

#service-status h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    position: absolute;
    top: -40px;
    left: 0;
    right: 0;
    margin: auto;
    line-height: 131px;
}

#cards-container {
    display: flex;
    justify-content: space-between;
    width: 1011px;
    margin: 0 20px;
    margin-left: auto;
    margin-right: -20px;
    position: relative;
    z-index: 2;
    color: white;
}

.card {
    margin-top: 50px;
    width: 299px;
    height: 185px;
    justify-content: space-around;
    position: relative;
    box-shadow: 0px 10px 30px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin-left: auto;
    margin-right: 40px;
    z-index: 3;
    background-color: white; /* añadir esta línea para asignar un color de fondo blanco */

 
}

.card .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.status-circle {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.status-circle.active {
    background-color:#17A400;
}
.card img {
    filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.5));
}
