:root{
  
    --bg-color: #ff8d28;
    --secondg-bg-color: #000000;
    --text-color: #ffffff;
    --main-color: #f00c0c;
  

}
.bottom-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}
.square {
    width: 300px;
    height: 271px;
    max-height: none; /* Altura inicial del cuadro */

    transition: max-height 0.5s ease;

    background: linear-gradient(to bottom, #EC4F2C -10%, #2c3e5018 75%);

    padding: 20px;
    border-radius: 20px;
    color: white;
    text-align: center;
    box-shadow: var(--main-color);
    margin-right: 60px;
    margin-left: -10px;
    position: relative;
    transition: .5s ease; 
    box-shadow: 0 0 1rem rgb(121, 50, 2);
}
.square.expanded {
    max-height: none; /* Altura máxima para expandir el cuadro */
}
.square .additional-content {

        opacity: 1;
        height: auto;
        padding: 20px;
        display: none;
      
      
}

.square.expanded .additional-content {
    opacity: 1;
    height: auto;
    padding: 20px;
    display: block;
}
.read-more {
    background-color: #e94520;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: 900;
    color:white;
    margin-top: 10px;
    font-family: "Roboto", sans-serif;
    box-shadow: 0 0 1rem #ee5432;
 
}

.read-more:hover {
    background-color: #f04848; /* Cambia el color al hacer hover */
}

.square:hover{
    border: .2rem solid var(--bg-color);
    border-color:var(--bg-color);
    transform: scale(1.02);
    transform-origin: center center;

}


.square h3 {
    font-size: 17px;
    margin-bottom: 8px;
    font-weight: 900;
    font-family: "Roboto", sans-serif; /* Fuente Roboto */
    
}

.square p {
    font-size: 14px;
    line-height: 1.8;
    margin-top: -5px;
    font-weight: light;
    font-family: "Roboto", sans-serif;
}




.square .circle i {
    margin-bottom: 25px;
    font-size: 75px; /* Tamaño del icono */
    color: var(--secondg-bg-color);
    filter: drop-shadow(0px 0px 2px var(--secondg-bg-color));
  }
  
.circle
{
    border-radius: 50%;
    background-image: linear-gradient(to bottom, #f2f2f200, #00000000);

}


.additional-content {
    display: none;
}
#communitys {
    position: relative;
  }
  
  #communitys::after {
    content: "";
    position: absolute;
    top: 420px;
    left: -450px;
    width: 1900px;
    height: 640px;
    background-image: url("assets/images/body_images/fondo2.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.5; /* Ajusta la opacidad según tu preferencia */

  }
  

.communitys-section {
    position: relative;
  }
  .communitys-shape {
    position: absolute;
    width: 3500.62px;
    height: 1200.66px;
    margin-bottom: -1500px;
    margin-left: -1800px;
    background: linear-gradient(220.12deg, #000000 30%, rgba(0, 0, 0, 0) 47.64%);
    transform: rotate(0deg);
   z-index: 2;
  }
  .image-container {
    width: 300px;
    height: 340px;
    border-radius: 50%;
    position: absolute;
    top: 440px; /* Ajusta la posición vertical */
    left: 47%; /* Ajusta la posición horizontal */
    transform: translateX(-50%); /* Centra horizontalmente */
    z-index: 3;
    transition: .5s ease; 
    box-shadow: 0 0 1rem rgb(121, 50, 2);
    transition: .5s ease; 
  }
  
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 200px;
  }
  .overlay-shape {
    position: absolute;
    top: 250px;
    left: 270px;
    transform: translate(-50%, -50%);
    width: 254px;
    height: 237px;
    border-radius: 30px;
    background-color: white;
  }
  
  .overlay-content {
    text-align: center;
    padding: 20px;
    line-height: 35px;
  }
  
  
  .overlay-content p {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 4px;
    margin-top: 10px;
    color : black;
  }

  
  .read-more2 {
    background-color: #ff9b85;
    color: white;
    border: none;
    
    border-radius: 20px;
    padding: 10px 20px;
    margin-top: -250px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 0 1rem #ee5432;
    transition: background-color 0.3s ease;
  }
  
  .read-more2:hover {
    background-color: #f04848;
  }
  .linea_news
  {
    margin-top: 690px;
    border: 1px solid #CC4324; /* Color del contorno */
    background-color: #BA3C20; /* Color de fondo */
    height: 3px; /* Altura */
    width: 124px; 
    z-index: 4;
  }
  .frase-completa2 {
    margin-top: 10px;
    text-align: center; /* Alineación centrada */
  }
  
  .noticias {
    font-family: "Roboto", sans-serif; /* Fuente Roboto */
    font-weight: 900; /* Peso extra bold */
    font-size: 23px; /* Tamaño de fuente */
    color: #A6341A; /* Color de texto */
    display: inline; /* Mostrar en línea */
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  }
  
  .tiemporeal {
    font-family: "Roboto", sans-serif; /* Fuente Roboto */
    font-weight: 790; /* Peso extra bold */
    font-size: 23px; /* Tamaño de fuente */
    color: #FFFFFF; /* Color de texto blanco */
    display: inline; /* Mostrar en línea */
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  }
  .linea-divisoria3
  {
    margin-top: 34px;
    margin-left: 180px;
    border: 1px solid #ffffff; /* Color del contorno */
    background-color: #ffffff; /* Color de fondo */
    height: 3px; /* Altura */
    width: 80%; /* Ancho */


  }
  
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');



  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

  .news-section {
    width: 100%;
    display: flex;
    margin-left: 70;
    margin-right: -170px;
    justify-content: center;
    margin-top: 50px;
  }
  
  .news-grid {
    column-count: 3;
    column-gap: 10px; /* Ajusta este valor para cambiar el espacio entre los cuadros */
  }
  
  .news-item {
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    break-inside: avoid;
    margin-bottom: 10px; /* Ajusta este valor para cambiar el espacio entre los cuadros */
  }
  
  .news-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
  }
  
  .news-item:hover img {
    transform: scale(1.1);
  }
  
  .news-title {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 18px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    transition: background 0.3s ease-in-out;
  }
  
  .news-item:hover .news-title {
    background: rgba(0, 0, 0, 0.7);
  }
  
  .news-item.item1 {
    width: 406px; /* Ajusta estos valores para cambiar el tamaño de cada cuadro */
    height: 517px;
  }
  
  .news-item.item2 {
    width: 310px;
    height: 350px;
  }
  
  .news-item.item3 {
    width: 196px;
    height: 300px;
    margin-left: -90px;

  }
  
  .news-item.item4 {
    width: 312px;
    height: 180px;
    margin-top: -60px;
    margin-left: -500px;
    margin-bottom: 50px;

  }
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');

.news-text {
  text-align: center;
  margin-top: 60px;
}

.text1, .text2 {
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 5s steps(40, end) infinite;
}

.text1 {
  font-size: 54px;
  color: white;
}

.text2 {
  font-size: 40px;
  color: #CC4324;
}
footer {
  background: #0c0c0c;
  color: white;
  padding: 20px;
  display: flex;
  margin-top: 90px;
  justify-content: space-between;
}

.footer-section {
  width: 30%;
}

.footer-section h3 {
  margin-top: 0;
}

.footer-section p, .footer-section ul {
  margin-bottom: 0;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li a {
  color: white;
  text-decoration: none;
}


  

  
 
