* {
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    z-index: 1;
    overflow-x: hidden; 
}

body::after {
    content: "";
    background: url("assets/images/body_images/fondo1.jpg") no-repeat center center fixed;
    opacity: 0.8;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -2;   
    background-size: 2727px 1300px; /* Tamaño específico de la imagen de fondo */
    background-position: center center; /* Centrar la imagen */
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    border-radius: 25px;
    width: 1291px;
    height: 71px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 10px 20px;

}

#logo {
    font-size: 25px;
    font-weight: bold;
    color:white;
    padding: 18px;

}

nav ul {
    margin-bottom: 2px;
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin: 0 10px;
    padding: 0px 35px;
}

nav a {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

#home, #signup {
    font-size: 18px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 20px;
}

#home {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    width: 83px;
    height: 34px;
    background-color: #E34C2A;
}

#signup {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    width: 111px;
    height: 45px;
    background: linear-gradient(to right, #BF3E21, #EC4F2A);
 
}

#main-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start; /* Alineación superior de los elementos */
    justify-content: space-between;
    margin-top: 20px;
    text-align: left;
    width: 1291px; /* Esta medida debe ser la misma que la del encabezado para alineación */
    margin: 200px auto 0; /* Centrado horizontal con margen superior de 200px */
}

#left-content {
    flex-grow: 1;
    padding: 20px;
    margin-top: 35px;
    text-align: left;
}

h1, h2, h3, h4 {
    margin: 0;
    line-height: 1;
}

h1, h2, h3, h4 {
    margin: 0;
    line-height: 1;
}

h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 64px;
    color: #A6341A;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    margin-top: 0px; /* Ajusta la posición vertical */
    margin-bottom: 15px; /* Ajusta el espacio inferior */
    padding-top: 0;
    padding-bottom: 0;
 
}

h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 48px;
    color: #FFFFFF;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    margin-top: 0px; /* Ajusta la posición vertical */
    margin-bottom: 10px; /* Ajusta el espacio inferior */
    padding-top: 0;
    padding-bottom: 0; /* Ajusta el espacio inferior */
}

h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 44px;
    color: #FFFFFF;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    margin-bottom: 10px; /* Ajusta el espacio inferior */
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 780;
    font-size: 23px;
    color: white;
    margin-bottom: 10px; /* Ajusta el espacio inferior */
    margin-left: 40px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}
#get-started {
    width: 163px;
    height: 51px;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    margin-top: 180px;
    margin-left: 160px;
    font-size: 14px;
    color: #FFFFFF;
    background: linear-gradient(to right, #EC4F2C, #A6341A);
    border: none;
    border-radius: 25px;
}
.right_content
{
    padding: 0;
    display:inline-block;
    justify-content: flex-start;
    margin: 0;

}

#edif1 {
    width: 338px;
    height: 627px;
    border: 0; /* Ajusta la posición a la derecha */
    margin-top: -85px;

    position: relative;
    z-index: 2; /* Asegura que edif1 esté en la capa superior */
    animation: fadeUp 0.7s ease-in-out forwards; /* Animación de desvanecimiento hacia arriba */
    filter: drop-shadow(20px 15px 10px rgba(0,0,0,0.5));
}

#edif2 {
    width: 338px;
    height: 480px;
    margin-left: -125px;
    margin-bottom: 50px;
    position: relative;
    z-index: 1; /* Asegura que edif2 esté en una capa inferior */
    animation: fadeUp 1s ease-in-out forwards; /* Animación de desvanecimiento hacia arriba */
    filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.5));
  
}
@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(42px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes parallax {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.05);
    }
}
.shape-diagonal {
    position: absolute;
    width: 200%;
    height: 170%;
    margin-top: -265px;
    top: -26%;
    left: -26%;
    background: linear-gradient(41.28deg, #000000 41.22%, rgba(0, 0, 0, 0) 47.24%);
    transform: rotate(-34.59deg);
    z-index: -1;
}
.linea-divisoria {
    margin-top: 200px;
    border: 1px solid #CC4324; /* Color del contorno */
    background-color: #BA3C20; /* Color de fondo */
    height: 3px; /* Altura */
    width: 124px; /* Ancho */
  }
  .linea-divisoria2 {
    margin-top: 34px;
    border: 1px solid #ffffff; /* Color del contorno */
    background-color: #ffffff; /* Color de fondo */
    height: 3px; /* Altura */
    width: 85%; /* Ancho */
  }
  .frase-completa {
    margin-top: 10px;
    text-align: center; /* Alineación centrada */
  }
  
  .informacion {
    font-family: "Roboto", sans-serif; /* Fuente Roboto */
    font-weight: 790; /* Peso extra bold */
    font-size: 23px; /* Tamaño de fuente */
    color: #A6341A; /* Color de texto */
    display: inline; /* Mostrar en línea */
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  }
  
  .centralizada {
    font-family: "Roboto", sans-serif; /* Fuente Roboto */
    font-weight: 790; /* Peso extra bold */
    font-size: 23px; /* Tamaño de fuente */
    color: #FFFFFF; /* Color de texto blanco */
    display: inline; /* Mostrar en línea */
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  }