<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Panel de Control</title>
    <link rel="stylesheet" href="../css/control_panel_styles.css">
</head>
<body>
    <header>
        <div id="logo-container">
            <h1>RESIGUIDE</h1>
        </div>
        <!-- Aquí irán otros elementos del header si los necesitas -->
    </header>
    <div id="panel-label">
        <p>Panel de Control</p>
      </div>
      <h1 id="control-panel-text">Control Panel</h1>

<!-- Texto Bienvenido y Nombre -->
<p id="welcome-text">
    Bienvenido <span id="admin-name"><%= admin.nombre %></span>
</p>

<!-- Texto Conjunto y Nombre del Conjunto -->
<p id="conjunto-text">
    Conjunto <span id="conjunto-name"><%= admin.nombre_conjunto %></span>
</p>
<div class="shape">
    <a href="/services-panel" class="no-underline">
    <div class="card" style="--card-color: #AF6251; --border-start: #FE1010; --border-end: #AF6251;">
      <div class="icon icon-services"></div>
      <p class="card-text">MANEJO DE SERVICIOS</p>
    </div>
    </a>
    <div class="card" style="--card-color: #55A47E; --border-start: #95FFC6; --border-end: #55A47E;">
      <div class="icon icon-news"></div>
      <p class="card-text">NOTICIAS MANUALES</p>
    </div>
    <div class="card" style="--card-color: #818181; --border-start: #D9D9D9; --border-end: #818181;">
      <div class="icon icon-settings"></div>
      <p class="card-text">AJUSTES DE LA CUENTA</p>
    </div>
</div>
    <!-- Aquí irán las Card Views -->
  </div>

  


    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/javascript/control_panel.js"></script>
    <footer>
    <p>Panel Administrativo</p>
</footer>

</body>
</html>
