<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="stylesheet" type="text/css" href="styles_landing.css">
  
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@2.0.7/css/boxicons.min.css">

</head>
<body>
    <header id="navbar" class="hide">
        <a href="/formulario.html"><button >Empieza aquí</button></a>
      </header>
    <div class="shape-diagonal"></div>

    <section id="inicio">
        <div id="main-content">
            <div id="left-content">
                <h1>POR UNA</h1>
                <h2>COMUNIDAD</h2>
                <h3>SIN PREOCUPACIONES</h3>
                <h4>MANTENTE INFORMADO, VIVE MEJOR</h4>
                <a href="/formulario.html"><button id="get-started">Empieza aquí</button></a>
            </div>
            <div id="right-content">
                <img id="edif1" src="assets/images/system_images/edificacion1.png" alt="Edificación 1">
                <img id="edif2" src="assets/images/system_images/edificacion2.png" alt="Edificación 2">
            </div>
        </div>
    </section>
    


        <hr class="linea-divisoria">
        <section id="communitys" class="communitys-section" >
 
        
        <div class="frase-completa">
            <p class="informacion">INFORMACIÓN</p>
            <p class="centralizada">CENTRALIZADA</p>
        </div>



        <hr class="linea-divisoria2">
 
        <div class="bottom-section">
            <div class="square">
                <div class="circle">
                    <i class="bx bx-news"></i>
                </div>
                <h3>Noticias Anuales</h3>
                <p>Conexión y comunicación <br>comunitaria</p>
                <div class="additional-content">
                    <p>Carpio es brusco</p>
                </div>
                
            </div>
            
            <div class="square">
                <div class="circle">
                    <i class='bx bx-cog'></i>
                </div>
                <h3>Servicios</h3>
                <p>Notificaciones de tus servicios a<br> tiempo real.</p>
  
                <div class="additional-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et sem nec lacus feugiat ullamcorper. Suspendisse semper efficitur purus, eu bibendum turpis accumsan vitae. Integer vulputate enim nec risus rhoncus, non lacinia mi tincidunt.</p>
                </div>
            </div>
            
            <div class="square">
                <div class="circle">
                    <i class="bx bx-user-circle"></i>
                </div>
                <h3>Administración</h3>
                <p>Administración eficiente y <br>transparente.</p>
       
              
                <div class="additional-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et sem nec lacus feugiat ullamcorper. Suspendisse semper efficitur purus, eu bibendum turpis accumsan vitae. Integer vulputate enim nec risus rhoncus, non lacinia mi tincidunt.</p>
                </div>
            </div>  
         
            <div class="communitys-shape"></div>
           
            <div class="image-container">
                <img id="imagen" src="assets/images/system_images/shaper1.jpg" alt="Descripción de la imagen">
                <div class="overlay-shape">
                    <div class="overlay-content">
                      <p>En nuestro sitio web informativo, simplificamos la vida residencial. Encuentra respuestas y soluciones.</p>
                  
                    </div>
                  </div>
                
              </div>
              
          
    </section>
        <hr class="linea_news">
       
            <div class="frase-completa2">
                <p class="noticias">NOTICIAS</p>
                <p class="tiemporeal">A TIEMPO REAL</p>
            </div>
            <hr class="linea-divisoria3">
            <section class="news-section">
                <div class="news-grid">
                  <div class="news-item item1">
                    <a href="ruta-noticia-1">
                      <img src="assets/news/news1.jpg" alt="Descripción imagen 1">
                      <div class="news-title"></div>
                    </a>
                  </div>
                  <div class="news-item item2">
                    <a href="ruta-noticia-2">
                      <img src="assets/news/news2.jpg" alt="Descripción imagen 2">
                      <div class="news-title"></div>
                    </a>
                  </div>
                  <div class="news-item item3">
                    <a href="ruta-noticia-3">
                      <img src="assets/news/news3.jpg" alt="Descripción imagen 3">
                      <div class="news-title"></div>
                    </a>
                  </div>
                  <div class="news-item item4">
                    <a href="ruta-noticia-4">
                      <img src="assets/news/news4.jpg" alt="Descripción imagen 4">
                      <div class="news-title"></div>
                    </a>
                  </div>
             
              </section>
              <div class="news-text">
                <h1 class="text1">NOTICIAS A TÚ ALCANCE</h1>
                <h2 class="text2">DE LO QUE PASA A TÚ ALREDEDOR</h2>
              </div>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              
              <footer>
                <div class="footer-section">
                  <h3>Sobre nosotros</h3>
                  <p>Somos una empresa cuyo objetivo es brindarle la mejor atención a nuestros clientes, para una comunicación más amena con sus residentes.</p>
                </div>
                <div class="footer-section">
                  <h3>Contacto</h3>
                  <p>Dirección: Avenida Carrera 86 #11b-95 Bogotá Bogotá D.C, Cundinamarca</p>
                  <p>Telefono +57 3118350548</p>
                  <p>Email: resiguideskyler@gmail.com</p>
                </div>
                <div class="footer-section">
                  <h3>Enlaces útiles</h3>
                  <ul>
                    <li><a href="#">Política de privacidad</a></li>
                    <li><a href="#">Términos y condiciones</a></li>
                    <li><a href="#">Preguntas frecuentes</a></li>
                  </ul>
                </div>
              </footer>
              
    
    <script src="/javascript/script.js"></script>

    <script type="text/javascript">

    </script>
</body>
</html>
