<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/registerconjunto.css">
<title>Registro de Conjunto</title>
</head>
<body>

<div id="conjunto-form">
<form action="/register-conjunto" method="POST" enctype="multipart/form-data">
  <!-- Tus campos de formulario aquí basándose en tu modelo de conjunto -->
  <div>
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" required>
  </div>
  <div>
    <label for="direccion">Dirección:</label>
    <input type="text" id="direccion" name="direccion">
  </div>
  <input type="file" id="imagen" name="imagen">
  <input type="submit" value="Registrar Conjunto">

  <!-- ... otros campos ... -->
</form>
</div>

<script src="/js/main.js"></script>
</body>
</html>
